torch>=2.4.0
torchvision
diffusers
numpy
opencv-python
matplotlib
transformers
imageio
imageio[ffmpeg]
safetensors
einops
sentencepiece
protobuf
ftfy
pynvml
accelerate
bitsandbytes
peft
tqdm
scipy
scikit-image
scikit-learn
pandas
gradio==5.49.1
gradio_imageslider
